<h1>Make a special Request</h1>
<div>
  <div class="submit-form">
    <div *ngIf="!submitted">

      <div class="form-group">
        <label for="title">Title</label>
        <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="post.title"
            name="title"/>
      </div>


      <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            [(ngModel)]="post.body"
            name="description"/>
      </div>



      <button (click)="createRequest()" [disabled]="!post.title || !post.body" class="btn btn-success">Send special Request</button>
    </div>

    <div *ngIf="submitted">
      <h4>Request was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newPost()">Make another Request</button>
    </div>

  </div>
</div>

