<div class="card" [ngClass]="{ 'active-card' : selected }">

    <div class="card-header">
        <h3 class="title">{{item?.motorcycle}} - {{item?.name}}</h3>
    </div>


    <div class="card-body">
        <p>Motorcycle.: {{item?.motorcycle}}</p>
        <p>Name.: {{item?.name}}</p>
        <p>
          <button class="btn btn-default"
            *ngIf="!selected"
            (click)="select()">Select</button>

          <!-- <button class="btn btn-default"
            *ngIf="!selected"
            (click)="editEntry()">Edit</button> --> -->

          <button class="btn btn-default"
            *ngIf="selected"
            (click)="removeChoice()">Remove Choice</button>

          <!-- <button class="btn btn-default"
            *ngIf="selected"
            (click)="deleteChoice()">Delete</button> -->





        </p>

    </div>
 </div>
