<div class="card" [ngClass]="{ 'active-card' : selected }">

    <div class="card-header">
        <h2 class="title">{{item?.brand}} - {{item?.model}}</h2>
    </div>


    <div class="card-body">
        <p>Brand.: {{item?.brand}}</p>
        <p>Model.: {{item?.model}}</p>
        <p>Year.: {{item?.year}}</p>
        <p>Hp.: {{item?.hp}}</p>
        <p>Ccm.: {{item?.ccm}}</p>
        <p>Kilometers.: {{item?.kilometers}}</p>
        <p [ngStyle]="{ 'color': item?.valid_inspection }">Valid Inspection: {{ item?.valid_inspection }}</p>
        <p>
            <button class="btn btn-default"
            *ngIf="!selected"
            (click)="select()">Select</button>

          <button class="btn btn-default"
            *ngIf="selected"
            (click)="removeChoice()">Remove</button>




        </p>

    </div>
 </div>
