<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://angulararchitects.io" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/paper-design/angular2-logo.png" />
      </div>
    </a>
    <a href="http://angulararchitects.io" class="simple-text logo-normal">
      The Dorili
    </a>
  </div>
  <ul class="nav">
    <li class="active">
      <a>
        <i class="nc-icon nc-bank"></i>
        <p>Home</p>
      </a>
    </li>

    <li>
      <a>
        <i class="nc-icon nc-send"></i>
        <p>Rent a motorcycle</p>
      </a>
    </li>

    <li>
      <a>
        <i class="nc-icon nc-single-02"></i>
        <p>Book a service</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a>
        <i class="nc-icon nc-cart-simple"></i>
        <p>Find parts</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a>
        <i class="nc-icon nc-simple-remove"></i>
        <p>Hide Navigation</p>
      </a>
    </li>
  </ul>
</div>
