<div class="card" [ngClass]="{ 'active-card' : selected }">

    <div class="card-header">
        <h2 class="title">{{item?.partName}} for {{item?.fitsBrand}}</h2>
    </div>


    <div class="card-body">
        <p>Brand.: {{item?.fitsBrand}}</p>
        <p>Model.: {{item?.fitsYear}}</p>
        <p>Year.: {{item?.fitsYear}}</p>
        <p>ID.: {{item?.id}}</p>

            <button class="btn btn-default"
            *ngIf="!selected"
            (click)="select()">Select</button>

          <button class="btn btn-default"
            *ngIf="selected"
            (click)="deselect()">Remove</button>

        <button class="btn btn-default"
            *ngIf="selected"
            (click)="deletePart()">Delete</button>

        <button class="btn btn-dafault" 
        *ngIf="selected"
        (click)="editPart()">Edit</button>

    </div>
 </div>
