<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://angulararchitects.io" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/paper-design/angular2-logo.png" />
      </div>
    </a>
    <a href="http://angulararchitects.io" class="simple-text logo-normal">
      The Dorili
    </a>
  </div>


  <ul class="nav">

    <li routerLinkActive="active">
        <a routerLink="home">
            <p>Home</p>
        </a>
    </li>

    <li routerLinkActive="active">
        <a routerLink="Rent">
            <p>Rent a motorcycle</p>
        </a>
    </li>

    <li routerLinkActive="active">
        <a routerLink="Rent-request">
            <p>Special Rent request</p>
        </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="Appointment">
          <p>Book an Appointment</p>
      </a>
    </li>



    <li routerLinkActive="active">
      <a routerLink="Parts">
          <p>Find Parts</p>
      </a>
    </li>


  </ul>
</div>
